<div class="container" *ngIf="!selected">
    <div class="items" *ngFor="let item of items | async" style="text-align: center;">
      <img src="../assets/notebook.svg" alt="" style="width: 100px; height: 250px; display: block;
      margin-left: auto;
      margin-right: auto;">
      <div class="project-name">
       <a href="{{item.downloadURL}}" style="text-decoration: none;"><p>{{item.name}}</p></a> 
      </div>
    </div>
</div>
<div *ngIf="selected" style="height: 75vh; overflow: auto; background-color: rgb(224, 224, 224); width: 80vw; border-radius: 5px;
-moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc; padding-top: 20px;">
  <a [href]="src" style="position:fixed;"> <img src="../assets/download.svg" alt="" style="width: 30px; height: 30px; margin-left: 20px; "></a>
  <!--<pdf-viewer [src]="src" [show-all]="true" [page]="1" [render-text]="false"></pdf-viewer>-->
</div>