<div id="header" style="height: 160px; width: 100vw;">
  <div style="margin-left: 10px;
  display: inline-block;
  position: relative;
  float: left;
  padding: 0;">
  <img src="../assets/logo_transparent.png" alt="" style="height: 160px;">
  </div>
  <div id="wrap">
    <input #box id="search" name="search" type="text" placeholder="What're we looking for ?" (keyup.enter)="search(box.value)"><input id="search_submit" value="Rechercher" type="submit">
  </div>
</div>
<div id="content">
  <app-file></app-file>
</div>
